<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Todo List</title>
  </head>
  <body>
    <h1>Today is <%= day %></h1>
    <% for( let index = 0; index < day2.length; index++ ) { %>
    <h4><%= day2[index] %></h4>
    <% } %>
  </body>
</html>
